# Python cache
__pycache__/
*.py[cod]
*.so

# packaging
*.egg-info/
dist/
build/

# jupyter cache
.ipynb_checkpoints/

# venvs
.venv/
env/

.vscode/

# data files
data/*
!data/.gitkeep
!data/README.md
!data/fetch_data.sh